<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    

    <card>
        <title>BTCPay Server</title>
        <input-field>
            <name>btcpayServerUrl</name>
            <label>BTCPay Server URL</label>
            <helpText>BTCPay Server URL.</helpText>
            <helpText lang="de-DE">BTCPay Server URL.</helpText>
        </input-field>
        <component name="btcpayserver-generate-api">
            Generate API key
        </component>

        <input-field>
            <name>btcpayApiKey</name>
            <label>BTCPay API Key</label>
            <helpText>BTCPay API Key.</helpText>
            <helpText lang="de-DE">BTCPay API Key.</helpText>
        </input-field>
        <input-field>
            <name>storeId</name>
            <label>Store ID</label>
            <helpText>Store ID.</helpText>
            <helpText lang="de-DE">Store ID.</helpText>
        </input-field>
        </card>
	<card>
        <input-field type="checkbox">
            <name>sendCustomerData</name>
            <label>Send customer data to BTCPayServer</label>
            <label lang="de-DE">Send customer data to BTCPayServer</label>
            <helpText>Send customer data to BTCPayServer.</helpText>
            <helpText lang="de-DE">Send customer data to BTCPayServer.</helpText>
			</input-field>
	</card>
</config>