<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>BTCPay Server</title>
        <input-field type="checkbox">
            <name>integrationStatus</name>
            <label>Connected to the BTCPay Server</label>
            <disabled>true</disabled>
            <helpText>It shows whether or not the plugin is connected to your BTCPayServer</helpText>
            <helpText lang="de-DE"> Es zeigt an, ob das Plugin mit Ihrem BTCPayServer verbunden ist oder nicht</helpText>
        </input-field>
        <input-field>
            <name>btcpayServerUrl</name>
            <label>BTCPay Server URL</label>
        </input-field>
        <component name="coincharge-btcpay-generate-key">
            <name>generate</name>
        </component>
        <input-field>
            <name>btcpayApiKey</name>
            <label>BTCPay API Key</label>
            <disabled>true</disabled>
        </input-field>
        <input-field>
            <name>btcpayServerStoreId</name>
            <label>BTCPay Server Store Id</label>
            <disabled>true</disabled>
        </input-field>
        <input-field type="password">
            <name>btcpayWebhookId</name>
            <disabled>true</disabled>
            <label>Webhook id</label>
            <label lang="de-DE">Webhook id</label>
        </input-field>
        <input-field type="password">
            <name>btcpayWebhookSecret</name>
            <disabled>true</disabled>
            <label>Webhook secret</label>
            <label lang="de-DE">Webhook secret</label>
        </input-field>


        <component name="coincharge-btcpay-test-connection">
            <name>test</name>
        </component>

    </card>
</config>