<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Coinsnap</title>
        <input-field type="checkbox">
            <name>coinsnapIntegrationStatus</name>
            <label>Connected to the Coinsnap</label>
            <disabled>true</disabled>
            <helpText>It shows whether or not the plugin is connected to Coinsnap</helpText>
            <helpText lang="de-DE"> Es zeigt an, ob das Plugin mit Ihrem Coinsnap verbunden ist oder nicht</helpText>
        </input-field>
        <component name="coincharge-coinsnap-button">
            <name>buttons</name>
        </component>
    </card>
    <card>
        <title>Credentials</title>
        <title lang="de-DE">Berechtigungsnachweise</title>
        <input-field>
            <name>coinsnapApiKey</name>
            <label>Coinsnap API Key</label>
        </input-field>
        <input-field>
            <name>coinsnapWebsiteId</name>
            <label>Coinsnap Website Id</label>
        </input-field>
        <input-field>
            <name>coinsnapWebhookId</name>
            <label>Webhook id</label>
            <disabled>true</disabled>
        </input-field>
        <input-field>
            <name>coinsnapWebhookSecret</name>
            <disabled>true</disabled>
            <label>Webhook secret</label>
        </input-field>
    </card>
    <card>
        <title>BTCPay Server</title>
        <input-field type="checkbox">
            <name>integrationStatus</name>
            <label>Connected to the BTCPay Server</label>
            <disabled>true</disabled>
            <helpText>It shows whether or not the plugin is connected to your BTCPayServer</helpText>
            <helpText lang="de-DE"> Es zeigt an, ob das Plugin mit Ihrem BTCPayServer verbunden ist oder nicht</helpText>
        </input-field>

        <input-field>
            <name>btcpayServerUrl</name>
            <label>BTCPay Server URL</label>
        </input-field>
        <component name="coincharge-btcpay-buttons">
            <name>buttons</name>
        </component>
    </card>
    <card>
        <title>Available payment methods for your store based on the BTCPay Server store configuration</title>
        <title lang="de-DE">Verfügbare Zahlungsmethoden für Ihren Shop basierend auf der BTCPay Server Shop-Konfiguration</title>
        <input-field type="bool">
            <name>btcpayStorePaymentMethodBTC</name>
            <label>Bitcoin</label>
            <disabled>true</disabled>
            <helpText>Shows whether or not you can use this payment method in your store</helpText>
            <helpText lang="de-DE">Zeigt an, ob Sie diese Zahlungsmethode in Ihrem Geschäft verwenden können oder nicht</helpText>
        </input-field>
        <input-field type="bool">
            <name>btcpayStorePaymentMethodLightning</name>
            <label>Lightning</label>
            <disabled>true</disabled>
            <helpText>Shows whether or not you can use this payment method in your store</helpText>
            <helpText lang="de-DE">Zeigt an, ob Sie diese Zahlungsmethode in Ihrem Geschäft verwenden können oder nicht</helpText>
        </input-field>
    </card>
    <card>
        <title>Credentials</title>
        <title lang="de-DE">Berechtigungsnachweise</title>
        <input-field>
            <name>btcpayApiKey</name>
            <label>BTCPay API Key</label>
        </input-field>
        <input-field>
            <name>btcpayServerStoreId</name>
            <label>BTCPay Server Store Id</label>
        </input-field>
        <input-field>
            <name>btcpayWebhookId</name>
            <label>Webhook id</label>
            <disabled>true</disabled>
        </input-field>
        <input-field>
            <name>btcpayWebhookSecret</name>
            <disabled>true</disabled>
            <label>Webhook secret</label>
        </input-field>
    </card>

</config>
